[buildout]
develop = .
parts = test
find-links = http://pypi.dolmen-project.org/find-links
extensions = mr.developer

# mr.developer
always-checkout = true
auto-checkout = *
sources = sources
sources-dir = checkouts

[sources]
crom = git git@github.com:trollfot/crom.git
grokker = git git@github.com:trollfot/grokker.git
cromlech.browser = git gitosis@devel.dolmen-project.org:cromlech.browser.git branch=crom

[test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
  sys.argv.append('--doctest-modules')

eggs =
    dolmen.message [test]
    pytest
