[buildout]
develop = .
parts = test
extensions = mr.developer

# mr.developer
always-checkout = true
auto-checkout = *
sources = sources
sources-dir = checkouts


[sources]
crom = git https://github.com/Cromlech/crom.git
grokker = git https://github.com/Cromlech/grokker.git
cromlech.browser = git https://github.com/Cromlech/cromlech.browser.git


[test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
  sys.argv.append('--doctest-modules')

eggs =
    dolmen.message [test]
    pytest
    pytest-mock
